.NCOP_CSR {
    position: relative;
}
.NCOP_CSR span.NCOP_CSA {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
a.btn_prev.NCOP_LOADING, a.btn_next.NCOP_LOADING {
    opacity: 0.3;
    cursor: default;
}

button.NCOP_BTO {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 10000;
    color: white;
}
button.NCOP_BTO:hover {
    color: #03c75a;
}
button.NCOP_BTO:active {
    color: green;
}
